# Connection string for the Postgres database storing all game and session information
DB_CREDENTIALS_URL=postgresql://user:password@localhost:5432/quintro

# A secret used to encrypt session cookies
SESSION_SECRET="foo-bar"

# The hostname of API server. Leave blank for the same host as the client.
VITE_API_HOST=https://some-host:8675

# The port number of the API server
VITE_API_PORT=8070

# The origin of the client application
CLIENT_ORIGIN=http://localhost:5173
