# Connection string for the Postgres database storing all game and session information
DB_CREDENTIALS_URL=postgresql://user:password@localhost:5432/quintro

# A secret used to encrypt session cookies
SESSION_SECRET="foo-bar"

# The hostname of API server. Leave blank for the same host as the client.
VITE_API_HOST=https://some-host:8675

# The port number of the API server
VITE_API_PORT=8070

# The origin of the client application
VITE_CLIENT_ORIGIN=http://localhost:5173

# Leave these SSL_ keys blank to use HTTP instead of HTTPS. Note that some things, such
# as browser notifications, will not work if not using HTTPS. Both paths are relative to
# the root directory (if they are relative paths).

# HTTPS SSL certificate file path
SSL_CERT_PATH=

# HTTPS SSL key file path
SSL_KEY_PATH=
