# NPM modules
node_modules

# Generated static content
/dist

# Sublime Text project files
*.sublime-project
*.sublime-workspace

# SSL keys/certs
/*.crt
/*.csr
/*.key
/*.pem

# Store cache
server/persistence/stores/cache/*

# Logs
logs

# User uploaded files (default directory)
client-uploads

# Environment variable settings
.env
