.root {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(180, 180, 180, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog {
    font-size: 5em;
}
