.gameControls {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}

.addPlayerButton {
    margin-left: 2em;
}

.zoomControls {
    margin-left: auto;
}

.watcherBadge {
    margin-right: 1em;
}
