<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Quintro</title>
	<link rel="stylesheet" media="all" href="{{STATIC_URL}}/static/css/bundle.css" />
</head>
<body data-user='{{ToJSON user}}'>
	<main id="app" class="page-layout__main">
	</main>

	<script src="{{STATIC_URL}}/static/js/bundle.js" async></script>
</body>
</html>
