<ul class="nav nav-tabs" data-tabs="tabs">
	<li class="active" role="presentation">
		<a href="#game-search" role="tab" data-toggle="tab">Find a game</a>
	</li>
	<li role="presentation">
		<a href="#game-create" role="tab" data-toggle="tab">Start a game</a>
	</li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="game-search" role="tabpanel">
		<div class="panel panel-default">
			<div class="panel-body">
				{{> game-search}}
			</div>
		</div>
	</div>
	<div class="tab-pane" id="game-create" role="tabpanel">
		<div class="panel panel-default">
			<div class="panel-body">
				{{> game-create}}
			</div>
		</div>
	</div>
</div>
