.board-container {
	.keyframe-definitions() {
		0% {
			top: 0;
			transform: translate(-50%, 0);
		}

		50% {
			transform: translate(-50%, -50%);
		}

		75% {
			top: 35%;
		}

		100% {
			top: 50%;
		}
	}

	@-webkit-keyframes game-over-text {
		.keyframe-definitions();
	}

	@keyframes game-over-text {
		.keyframe-definitions();
	}

	// perspective: 1000px;
	position: relative;
	display: inline-block;

	&.game-over {
		&::before {
			content: "";
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			background-color: rgba(0, 0, 0, 0.4);
			z-index: 1;
		}

		&::after {
			content: attr(data-winning-color) " wins!";
			position: absolute;
			font-weight: bold;
			font-size: 85px;
			color: white;
			top: 50%;
			left: 50%;
			display: inline-block;
			// animation: game-over-text 0.8s ease-out;
			animation: game-over-text 0.8s cubic-bezier(.66,.57,.81,.99);
			transform: translate(-50%, -50%);
			white-space: nowrap;
			z-index: 2;
		}
	}
}

.board {
	display: table;
	border-collapse: collapse;
	// transform: rotateX(40deg);
	background-image: url(/static/images/wood/wood2.jpg);
	background-position: top left;
	background-size: 100% 100%;
	background-repeat: repeat;

	.board-container.game-over & {
		opacity: 0.6;

		.board-cell {
			cursor: not-allowed;
		}
	}

	.board-row {
		display: table-row;
	}

	.board-cell {
		display: table-cell;
		padding: 5px;
		position: relative;
		cursor: not-allowed;
		-moz-user-select: none;
		-webkit-user-select: none;
		user-select: none;

		.sphere-gradient(@color) {
			background: radial-gradient(circle at 3px 3px, @color, #000);
		}

		.board-container.your-turn & {
			cursor: pointer;
			
			&.filled {
				cursor: not-allowed;
			}
		}

		&::before {
			content: "";
			display: block;
			border-radius: 100%;
			background: #000000;
			width: 30px;
			height: 30px;
		}

		.marble {
			display: block;
			background: black;
			border-radius: 50%;
			height: 35px;
			width: 35px;
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);

			&.red {
				.sphere-gradient(red);
			}

			&.blue {
				.sphere-gradient(blue);
			}

			&.black {
				.sphere-gradient(black);
			}

			&.yellow {
				.sphere-gradient(yellow);
			}

			&.green {
				.sphere-gradient(green);
			}

			&.white {
				.sphere-gradient(white);
			}
		}

		.marble::before {
			position: absolute;
			width: 100%;
			height: 100%;
			background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
			transform: rotateX(90deg) translateZ(-150px);
			z-index: -1;
		}

		.marble::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 5%;
			left: 10%;
			border-radius: 50%;
			background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
			transform: translateX(-8px) translateY(-9px) skewX(-20deg);
			filter: blur(10px);
		}
	}
}
