.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    min-width: var(--cell-size);
    min-height: var(--cell-size);
    max-width: var(--cell-size);
    max-height: var(--cell-size);
    border: 1px solid black;
    cursor: pointer;
}

.noPlacement {
    cursor: not-allowed;
}

.quintroMember {
    background-color: rgba(255, 255, 0, 0.6);
}

.marble {
    margin: 5%; // (100% - 90% [marble width/height]) / 2 (top/bottom, left/right)
}