<div class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Connection lost</h4>
			</div>
			<div class="modal-body">
				<p>Sorry! Connection to the server has been lost. Please wait to be reconnected, or try again later.</p>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
