<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="home-link navbar-brand" href="/">Quintro!</a>

			<div class="user-controls">
				{{#if req.user.username}}
				{{#req.user}}
				{{#profilePhotoURL}}
				<img class="profile-photo" src="{{.}}" />
				{{/profilePhotoURL}}
				<input type="hidden" name="user" value='{{#Serialize .}}{{/Serialize}}' />
				Logged in as <a href="/user/{{username}}">{{preferredDisplayName}}</a>
				<a href="/logout">Log out</a>
				{{/req.user}}
				{{/if}}
				{{^req.user.username}}
				<a href="/login">Log in</a>
				{{/req.user.username}}
			</div>
		</div>
	</div>
</div>
