<li class="player {{color}}{{#Compare color '===' ../current_player/color}} active{{/Compare}}" data-player='{{#Serialize .}}{{/Serialize}}'>
	{{#user.profilePhotoURL}}
	<img src="{{.}}" class="player-profile-photo" />
	{{/user.profilePhotoURL}}
	{{^user.profilePhotoURL}}
	<div class="player-profile-photo photo-missing glyphicon glyphicon-user"></div>
	{{/user.profilePhotoURL}}
</li>