<ul class="turn-indicator">
	<input type="hidden" name="players" value='{{#Serialize players}}{{/Serialize}}'>
		<input type="hidden" name="current_player" value='{{current_player}}'>
	{{#players}}
	<li class="player {{.}}{{#Compare . '===' ../current_player}} active{{/Compare}}" data-player="{{.}}"></li>
	{{/players}}
</ul>
