<div class="turn-indicator" data-view-classes="turn-indicator">
	<input type="hidden" name="players" value='{{#Serialize players}}{{/Serialize}}'>
	<input type="hidden" name="current_player" value='{{#Serialize current_player}}{{/Serialize}}'>
	<ul>
		{{#players}}
		{{> player-turn-item}}
		{{/players}}
	</ul>
</div>
