<ul class="turn-indicator">
	<li class="player black" data-player="black"></li>
	<li class="player blue" data-player="blue"></li>
	<li class="player red" data-player="red"></li>
	<li class="player white" data-player="white"></li>
	<li class="player yellow" data-player="yellow"></li>
	<li class="player green" data-player="green"></li>
</ul>
