@font-face {
  font-family: 'quintro-icomoon';
  src:
    url('fonts/quintro-icomoon.ttf?36kr4f') format('truetype'),
    url('fonts/quintro-icomoon.woff?36kr4f') format('woff'),
    url('fonts/quintro-icomoon.svg?36kr4f#quintro-icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'quintro-icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spinner:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-brand2:before {
  content: "\e901";
}
.icon-tweet:before {
  content: "\e901";
}
.icon-social2:before {
  content: "\e901";
}
.icon-google-plus:before {
  content: "\e900";
}
.icon-brand:before {
  content: "\e900";
}
.icon-social:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e902";
}
